<!DOCTYPE html>
<html>
  <head>
    <title>Source</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success].present? %>
      <div class="success">
        <%= flash[:success] %>
      </div>
    <% end %>
    
    <% if flash[:error].present? %>
      <div class="error">
        <%= flash[:error] %>
      </div>
    <% end %>
    
    <header>
      <h1>
        <%= link_to root_path do %>
          Source
        <% end %>
      </h1>
      
      <nav>
        <% if is_logged_in? %>
          <strong><%= @current_user.username %></strong>
          <%= link_to "All photos", items_path %>
          <%= link_to "Categories", categories_path %>
          <%= link_to "Log out", session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
